<!-- 当前代码来源于index-html-with-scan.html代码 -->

<!-- 当前代码来源于https://blog.csdn.net/q_fy_p/article/details/127175477网页中的index.html代码 -->
<!-- html嵌入参考：https://blog.csdn.net/qq_27114397/article/details/89643232 -->

<!DOCTYPE html>
<html>
    <head>
        <title>WIFI
            
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <style type="text/css">
        .input{display: block; margin-top: 10px;}
        .input span{width: 100px; float: left; float: left; height: 36px; line-height: 36px;}
        .input input{height: 30px;width: 200px;}
        .btn{width: 120px; height: 35px; background-color: #000000; border:0px; color:#ffffff; margin-top:15px; margin-left:100px;}
    </style>
    
    <body>
        <form method="POST" action="configwifi">
            <label class="input">
                <span>
                    WiFi SSID  
                </span>
                <input type="text" name="SSID">
            </label>
            <label class="input">
                <span>
                    WiFi PASS
                </span> 
                <input type="text"  name="password">
            </label>
            <input class="btn" type="submit" name="submit" value="submit">         
            <p>
                <span> Nearby wifi:
            </P>
        </form>
    </body>
</html>
